a[href="/accounts/emailsignup/"] {
  filter: invert(100%) !important;
  -webkit-filter: invert(100%) !important;
}

.lOPC8,
.ixdEe,
.be6sR,
._01jIc {
  filter: invert(100%) !important;
  -webkit-filter: invert(100%) !important;
}
