# This is the OpenMW user 'settings.cfg' file.  This file only contains
# explicitly changed settings.  If you would like to revert a setting
# to its default, simply remove it from this file.  For available
# settings, see the file 'settings-default.cfg' or the documentation at:
#
#   https://openmw.readthedocs.io/en/master/reference/modding/settings/index.html

[Video]
resolution x = 1346
resolution y = 726
fullscreen = true

framerate limit = 270
[Camera]
field of view = 64
viewing distance = 2946

[General]
anisotropy = 0

[Input]
always run = true

[Water]
reflection detail = 0

[Shadows]
enable indoor shadows = false
maximum shadow map distance = 0
