[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/devendra/Desktop/ovpnsrv_01.ova]
row=3
col=0

[/home/devendra/Desktop/caso_estuido2.mp4]
row=2
col=0

[/home/devendra/Desktop/ovpn1.ova]
row=0
col=0

[/home/devendra/Desktop/NUEVO.mp4]
row=1
col=0

